label {
  color: black;
}
body {
  background-image: url("../img/pizza.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}
#pizza-form {
  margin-bottom: 50px;
}
#subtotal-form {
  margin-bottom: 50px;
}
#subtotal-list {
  font-size: 30px;
}
.top {
  text-align: center;
  letter-spacing: 5px;
}

.subtotal {
  text-align: center;
  margin-top: 50px;
}

.pizza-info {
  font-size: 18px;
  margin-top: 50px;
}
