label {
  color: black;
}
body {
  background-image: url("../img/pizza.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

#subtotal-list {
  font-size: 30px;
}

.subtotal {
  width: 150px;
  text-align: center;
}

.container {
  padding: 20px;
}
